.input{
    width: 100%;
    padding: 5px 10px;
    border: 2px solid green;
    border-radius: 10px;
    margin-bottom: 10px;
}

.input[type="password"]{
    color: red;
}

.input-moderno {
    border: none;
    border-bottom: 1px solid #5f5f5f;
    outline: none;
    padding: 5px;
}

.input-moderno:focus{
    border-bottom: 3px solid #5f5f5f;
}

.input-moderno::placeholder{
    color: c2c2c2;
}

.input-background{
    background-color: aqua;
    border:none;
    border-radius:  5px;
    padding: 5px 10px;
    outline: none;
    color: white;
    box-shadow: 0 0 5px #5f5f5f;
}

.input-background:placeholder{
    color: #ccc;
}

.input-search:placeholder{
    color: #ccc;
}

.input-search{
    border:none;
    border-radius:  5px;
    padding: 10px;
    outline: none;
    color: white;
    background-color: #eee;
    margin-top: 10px;
    /* background-image: ;  Para mayor detalle revisar el gitHub*/
}
